#upload {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#left-feedback {
  display: inline-block;
  margin: none;
  width: 60%;
}

#right-feedback {
  display: inline-block;
  margin: none;
  width: 40%;
}