@font-face {
  font-family: Circular-Bold;
  src: url(../fonts/circular_bold.ttf);
}

@font-face {
  font-family: Circular-Book;
  src: url(../fonts/circular_book.ttf);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FBFBFB;
  font-family: Circular-Book, Verdana, sans-serif;
}

.bold {
  font-family: Circular-Bold, Verdana, sans-serif;
}

.text-center {
  text-align: center;
}