#root {
  max-width: 100%;
  overflow-x: hidden;
}

#landing-section-top {
  width: 100%;
  height: 100vh;
}

#landing-background-top {
  background: #3E5EFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3E5EFF, #48F5FB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3E5EFF, #48F5FB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3E5EFF, #48F5FB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3E5EFF, #48F5FB); /* Standard syntax */
  width: 200%;
  height: 100%;
  margin-left: -50%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
}

#landing-content-top {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.landing-logo {
  background-image: url("../images/white-logo.png");
  margin: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  position: relative;
}

#landing-login-professor {
  color: #45CFFC;
  background-color: white;
  margin-left: 70px;
}

#landing-login-student {
  color: #ffffff;
  background-color: #2C82FF;
  margin-left: 70px;
}

.landing-login-button {
  border: none;
  border-radius: 28px;
  height: 56px;
  width: 264px;
  font-size: 25px;
  margin-top: 47px;
}

#landing-analytics-card {
  background-image: url("../images/analytics-card.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 100%;
  margin-top: -250px;
  margin-left: 70%;
}

#landing-classes-card {
  background-image: url("../images/classes-card.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 100%;
  margin-top: -200px;
  margin-left: 45%;
}

#landing-feedback-card {
  background-image: url("../images/feedback-card.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 100%;
  margin-top: -250px;
  margin-left: 65%;
}

#landing-section-about {
  margin-left: 67px;
}

#landing-about-paragraph {
  color: #868687;
  font-size: 20px;
  line-height: 35px;
  width: 343px;
}

#landing-section-team {
  background-color: #F0F0F0;
}

#landing-background-team {
  background-color: #F0F0F0;
  width: 100%;
  height: 100px;
  margin-left: 0%;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#landing-content-team {
  width: 100%;
  margin-top: -100px;
}

#landing-katie {
  background-image: url("../images/katie.png");
}

#landing-shalini {
  background-image: url("../images/shalini.png");
}

#landing-prit {
  background-image: url("../images/prit.png");
}

#landing-connor {
  background-image: url("../images/connor.png");
}

#landing-jahan {
  background-image: url("../images/jahan.png");
}

#landing-omar {
  background-image: url("../images/omar.png");
}

.landing-pic {
  margin-top: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.landing-pic-caption {
  padding-top: 200px;
  color: #868687;
}

#landing-section-contact {
  background-color: #F0F0F0;
  height: 300px;
  margin-top: -100px;
  padding-top: 100px;
}

#landing-contact-info {
  color: #868687;
  font-size: 25px;
}

#landing-section-footer {
  background: #3E5EFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3E5EFF, #42A2FD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3E5EFF, #42A2FD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3E5EFF, #42A2FD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3E5EFF, #42A2FD); /* Standard syntax */
  height: 100px;
}

#landing-footer-info {
  color: #ffffff;
  line-height: 100px;
  margin: 0px;
}

#landing-footer-info a{
  color: #ffffff;
}

.landing-header {
  color: #43A5FD;
  font-size: 40px;
  margin-top: 94px;
}

.landing-title {
  margin: 0px;
  margin-left: 67px;
  font-size: 120px;
  color: #ffffff;
}

.landing-subtitle {
  margin: 0px;
  margin-left: 80px;
  font-size: 25px;
  color: #ffffff;
}