.header {
  margin-top: 20px;
  height: 100px;
}

.header p {
  margin-top: 0px;
  padding-top: 10px;
  color: #ffffff;
}

.header ul {
  list-style: none;
  padding-left: 0px;
}

.logo {
	background-image: url("../../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
	position: relative;
  display: inline-block;
  float: left;
}

.home {
  height: 60px;
  font-size: 12px;
  display: inline-block;
  float: right;
  margin-right: 100px;
  color: #3F6BFE;
}

.faq {
  height: 60px;
  font-size: 12px;
  display: inline-block;
  float: right;
  margin-right: 100px;
  color: #3F6BFE;
}

.welcome {
	font-size: 60px;
  color: #43A5FD;
}

.path {
	margin-top: 1vw;
	font-size: 35px;
  color: #43A5FD;
}
