.item-card {
  background-color: #ffffff !important;
  border-radius: 20px !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05) !important;
  width: 300px;
  height: 200px !important;
  overflow-y: hidden;
  display: inline-block;
  margin-right: 70px;
  margin-bottom: 50px;
}

.center-item-card-vertically {
  line-height: 200px;
}

.center-item-card-horizontally {
  width: 100%;
  text-align: center;
}

.item-card-image {
  min-width: 0px;
  width: 20%;
  opacity: 0.5;
  vertical-align: middle;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
