.item-card {
  background-color: #ffffff !important;
  border-radius: 20px !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
  width: 300px;
  height: 200px !important;
  overflow-y: hidden;
}